@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
  margin: 0 4px;
  padding: 0;
  box-sizing: border-box;

}


:root{
  /*color*/
  --spanish-gray:#999999;
  --sonic-silver:#787878;
  --eerie-black:#212121;
  --salmon-pink:#ff8f9c;
  --baby-pink:#fcb5bd;
  --sandy-brown:#f6a355;
  --bittersweet:#ff6666;
  --ocean-green:#46c389;
  --davys-gray:#545454;
  --cultured:#ededed;
  --white:#ffffff;
  --onyx:#454545;
  --page-color:#fff5f0;
  --light-orange:#ffdecc;
  --bamby-orange:#ffbe99;
  --salmon-orange:#ff8d4c;
  /*typography*/
  --fs-1: 1.563rem
  --fs-2: 1.375rem
  --fs-3: 1.25rem
  --fs-4: 1.125rem
  --fs-5: 1rem
  --fs-6: 0.938rem
  --fs-7: 0.875rem
  --fs-8: 0.813rem
  --fs-9: 0.75rem
  --fs-10: 0.688rem
  --fs-11: 0.625rem

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /*border radius*/
  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  /*trasition*/
  --transition-tining: 0.2s ease;
  --transition-tining2: 0.5s ease;


}
body{
  font-family: "Montserrat", sans-serif;
  background: var(--page-color);
  margin: 0;
  padding: 0;

}




ul{
  list-style: none;
}
a{
  text-decoration: none;
}
p{
  line-height: 1.4;
}

/*Utility classes*/
.container{
  max-width: 1200px;
  margin: auto ;
  padding: 0 2rem;

}

/*Header Start*/

#header{
  display: block;
  width: 100%;
  padding: 0 4rem;
  height: auto;
  background: var(--bamby-orange);
  border-bottom:3px solid #21212127;
  border-radius: var(--border-radius-sm);
  z-index: 999;
}

.nav-top{
  width: 100%;
  position: relative;
  text-align: center;
  top: 0;
  background: var(--bamby-orange);
  margin: 8px 0px;
  padding: 4px 0px;
  border-radius: var(--border-radius-sm);
}

.nav-top svg{
  vertical-align: middle;
}

.nav-top p{
  color: var(--eerie-black);
  font-weight: 600;
}


.navbar{
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: auto;
  
}



.navbar .logo{
  position: relative;
  right: 100px;

}
.navbar .logo img{
  width: 100%;
  height: auto;
  margin: 12px 3px;
  font-weight: 800;
}

.navbar .nav-menu{
  display: flex;
  
}
.navbar .nav-menu li a{
  margin: 0 10px;
  transition: var(--transition-tining);
}
.navbar .nav-menu li .nav-btn:hover,
.navbar .nav-menu li .nav-btn.active{
  font-size: 20px;
  color: rgb(255, 98, 40);
  font-weight: 800;
}

.nav-btn-content{
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: end;
  left: 100px;
}
.nav-btn{
  width: 100%; 
  height: 100%;
  border: none;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  background: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  transition: var(--transition-tining2);
}


.icon-menu{
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}



/*Header End*/

/*Main Start*/

/*Home Start*/

  #home{
    background: var(--page-color);
    padding: 5rem 0;

  }

  #home .home-header{
    display: flex;
    text-align: start;
  }
  .home-imge{
    width: 70%;
  }
  .home-imge img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-md);
  }

  .additional{
    width: 100%;
    margin: auto;
    line-height: 3rem;
    padding: 0 2rem;
    
  }
  .additional .join{
    color: var(--eerie-black);
    font-size: 22px;
    font-weight: 800;
    text-decoration: underline;
  }
  .additional h1{
    font-size: 36px;
  }
  .additional h1 span{
    font-size: 36px;
    font-weight: 800;
    color: var(--salmon-orange);
  }
  .additional p{
    font-size: 20px;
    font-weight: 500;
  }
  .content-count{
    display: flex;
    line-height: 2rem;
    margin: 20px 0px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    gap: 12px;
    border: 2px solid var(--eerie-black);
    border-radius: var(--border-radius-sm);
    box-shadow: 4px 5px 0 rgba(255, 68, 0, 0.562);

  }
  .content-count span{
    font-size: 14px;
    font-weight: 900;
  }

  .content-count .count{
    color: var(--eerie-black);
    font-size: 32px;
    font-weight: 800;
  }

  .button-container{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

  }

   .btn{
    width: auto; 
    height: 50px;
    padding: 0 10px;
    border: 2px solid var(--eerie-black);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background: var(--salmon-orange);
    color: var(--white);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    box-shadow: 2px 3px 4px var(--eerie-black);
    transition: var(--transition-tining2);

  }

  .btn:hover{
    background: transparent;
    color: var(--eerie-black);
    border: 2px solid var(--eerie-black);
    font-weight: 700;
  }

  .btn-home-transparent{
    background: transparent;
    color: var(--eerie-black);
    border: 2px solid var(--eerie-black);
    font-weight: 600;
  }

  .btn-home-transparent:hover{
    background: var(--salmon-orange);
    color: var(--white);
    border: 2px solid var(--eerie-black);

  }


/*Home End*/


/*Our Benefits Start*/
#our-benefits{
  margin: 30px;
}
#our-benefits .card-container{

  margin-top: 3rem ;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

#our-benefits .card-container .card{
  padding: 5px;
  background: var(--white);
  border: 2px solid var(--eerie-black);
  box-shadow: 4px 5px 0 rgba(255, 68, 0, 0.562);
  margin: 20px 10px;
  border-radius: var(--border-radius-sm);
  transition: var(--transition-tining2);

}

#our-benefits .card-container .card:hover{
  background: var(--cultured);
}

.text-top{
  background: var(--white);
  margin: 10px 460px;
  padding: 8px 0px;
  border-radius: var(--border-radius-md);
  border: 2px solid var(--eerie-black);
  color: var(--eerie-black);
  font-size: 12px;
  font-weight: 600;
}

.text-top:hover{
  position: relative;
  bottom: 2px;
  box-shadow: 2px 3px 4px var(--bamby-orange);
}

#our-benefits .card-container .card .icon{
  position: relative;
  bottom: 30px;
  display: inline-block;
  padding: 7px;
  border: 2px solid var(--eerie-black);
  border-radius: var(--border-radius-sm);
}
#our-benefits .card-container .card svg{
  font-size: 25px;
  
}

#our-benefits .card-container .card h2{
  font-size: 18px;
  position: relative;
  bottom: 20px;
}

#our-benefits .card-container .card p{
  font-size: 14px;
  color: var(--eerie-black);
  font-weight: 500;
}


.title-description-benefits {
  text-align: center;
}





/*Our Benefits End*/

/*Slider Start*/
#our-testimonials{
  width: 100%;
  margin: 60px 0;
}

#our-testimonials .container {
  width: 100%;
  margin: 0 auto;
}

.slider-container {
  width: 100%;
  max-width: 1200px;
  margin:  auto;
  padding: 40px 20px;
  text-align: center;
}

.slider-title {
  font-size: 2rem;
  color: var(--davys-gray);
  margin-bottom: 30px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider-content {
  display: flex;
  gap: 20px;
  overflow: hidden;
  width: 80%;
}

.slider-card {
  background: var(--white);
  border-radius: 10px;
  border: 2px solid var(--davys-gray);
  box-shadow: 4px 2px 0 rgba(255, 68, 0, 0.562);
  padding: 25px;
  width: calc(33% - 10px);
  min-width: 200px;
  line-height: 2rem;  
  
}
.slider-card p{
  color: var(--davys-gray);
  font-weight: 600;
}

.card-header {
  margin-bottom: 1px;
  transition: var(--transition-tining2);
}

.card-header img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid var(--eerie-black);
}

.card-name {
  font-size: 20px;
  color: var(--eerie-black);
  margin: 0;
}

.card-description {
  color: var(--onyx);
  line-height: 1.6;
  font-size: 14px;
}
.rating-content{
  margin: 4px 0;
}
.rating-content svg{
  color: var(--sandy-brown);
}
.slider-button {
  background: var(--white);
  border: 2px solid var(--eerie-black);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 5px 0 rgba(255, 68, 0, 0.562);

  transition: all 0.3s ease;
}

.slider-button:hover {
  background: #e9ecef;
}

.prev {
  margin-right: 20px;
}

.next {
  margin-left: 20px;
}


.title-description-testimonials {
  text-align: center;

}
.info{
  line-height: 5rem;
}
.title-description-testimonials h1{
  color: var(--eerie-black);
  font-size: 36px;
  font-weight: 800;
}
.title-description-testimonials p{
  font-size: 18px;
  font-weight: 600;
  color: var(--eerie-black);
}
.slider-viewport {
  overflow: hidden;
  width: 100%;
}



.img-slider-card {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.img-slider {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.info-slider {
  text-align: center;
  margin-top: 10px;
}

/*Slider End*/

/*Cources Start*/
#cources{
  padding: 30px;
  text-align: center;
}

.section-header h2{
  color: var(--eerie-black);
  margin: 12px 0;
  font-size: 36px;
  font-weight: 800;

}

.section-header p{
  color: var(--eerie-black);
  font-size: 18px;
  font-weight: 500;
}



#cources .cources-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3rem;
  margin-top: 4rem;

}

#cources .cources-container .cource img{
  border-radius: var(--border-radius-sm);
  width: 100%;
  

}

#cources .cources-container .cource{
  position: relative;
  align-items: center;
 

}

#cources .cources-container .cource .sale{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 8px;
  background: var(--bamby-orange);
  color: var(--white);
  font-weight: 500;
  font-size: 12px;
  border-radius: var(--border-radius-sm);
  border: 2px solid var(--davys-gray);
  box-shadow: 4px 5px 0 rgba(255, 68, 0, 0.562);

}
#cources .cources-container .cource .content-cource{
  padding: 15px;
  font-size: 14px;
  color: var(--onyx);
  border-radius: var(--border-radius-md);
  border: 2px solid var(--davys-gray);
  box-shadow: 4px 5px 0 rgba(255, 68, 0, 0.562);

}
#cources .cources-container .cource .content-cource .cource-field{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#cources .cources-container .cource .content-cource .cource-field .department{
  color: var(--eerie-black);
  font-weight: 800;

}

#cources .cources-container .cource .content-cource .cource-field .rating{
  background: var(--onyx);
  color: var(--white);
  padding: 5px 10px;
  border-radius: var(--border-radius-md);

}

#cources .cources-container .cource .content-cource .cource-field .rating svg{
  color: var(--sandy-brown);
}

#cources .cources-container .cource .content-cource h3{
  margin: 10px 0;
  color: var(--eerie-black);
  font-weight: 800;
}

#cources .cources-container .cource .content-cource .sales{
  margin: 10px 0;
  font-weight: 600;
}

#cources .cources-container .cource .content-cource .price del{
  margin: 10px 0;
  font-weight: 600;
}

#cources .cources-container .cource .content-cource .cource-info{
  display: flex;
  align-items: center;
  margin: 15px 0;
}

#cources .cources-container .cource .content-cource .cource-info p{
  margin-right: 10px;
}

#cources .cources-container .cource .content-cource .cource-info p svg{
  color: var(--bittersweet);
  font-size: 20px;
  margin-right: 3px;
  vertical-align: middle;
}
.btn-learn{
  display: inline-block;
  padding: 12px 20px;
  color: var(--white);
  font-weight: 500;
}
.btn-learn svg{
  vertical-align: middle;
}
.discount{
  font-weight: 700;
  color: var(--ocean-green);
}

/*Accordion Start*/
#accordion{
  margin: 30px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}


.accordion-container{
  
  display: flex;
  margin: 30px;
}

.item{
  width: 50%;
  flex: 1 1 calc(50% - 10px);;

  background: var(--white);
  border: 2px solid var(--eerie-black);
  box-shadow: 4px 5px 0 rgba(255, 68, 0, 0.562);
  border-radius: var(--border-radius-sm);
  margin-bottom: 15px;
  padding: 10px 20px;
}

.accordion-title{
  display: flex;
  color: var(--eerie-black);
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  
}

.accordion-title span{
  background: var(--bamby-orange);
  padding: 2px 8px;
  margin: 0 5px;
  border-radius: var(--border-radius-sm);
  font-size: 24px;
  font-weight: 800;
  color: var(--eerie-black);
  border: 2px solid var(--eerie-black);
  cursor: pointer;
}

.accordion-descreption{
  color: var(--davys-gray);
  font-size: 14px;
  font-weight: 600;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.accordion-show{
  font-size: 14px;
  font-weight: 600;
  color: var(--davys-gray);
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0)  
}

/*Pages*/
#pages{
  text-align: center;
}


/*Footer Start*/


.footer {
  
  background-color: var(--white);
  border-radius: var(--border-radius-md);
  padding: 16px;
  margin: 64px 16px;
  color: var(--eerie-black);
  font-weight: 600;
  border: 2px solid var(--eerie-black);
  box-shadow: 3px 8px 8px var(--davys-gray);
}

.footer-top {
  display: flex;
  flex-direction: row;
  gap: 100px;
  max-width: 1200px;
  margin: 4px auto;
}



.footer-about {
  flex: 1;
}

.logo-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo-placeholder {
  width: 40px;
  height: 40px;
  background: var(--eerie-black);
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--bamby-orange);
}

.footer-about p {
  color: var(--davys-gray);
  margin-bottom: 20px;
  line-height: 1.5;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.contact-item .icon-content{
  display: block;
  background: var(--light-orange);
  border: 2px solid var(--eerie-black);
  border-radius: var(--border-radius-sm);
}

.contact-item .icon-content:hover{
  position: relative;
  top: 2px;
  box-shadow: 3px 2px 4px var(--salmon-orange);
}
.contact-item .icon {
  margin:8px 8px ;
  margin-right: 10px;
  vertical-align: middle;
  color: var(--eerie-black);
  
}


.pages-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

#page{
  margin: 20px 12px;
  height: auto;
  padding: 12px;
  background: var(--white);
  border: 2px solid var(--eerie-black);
  border-radius: var(--border-radius-sm);
  line-height: 2rem;
}

#page .btn{
  position: relative;
  margin-top: 12px;
}

#page p{
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
}
.footer-links {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 20px;
  
  
}

.footer-links h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
  padding: 0;
  
}

.footer-links li {
  margin-bottom: 8px ;
}

.footer-links a {
  text-decoration: none;
  color:var(--onyx);
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  border-top: 2px solid var(--eerie-black);
  margin-top: 30px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  gap: 20px;
}
.Copyright{
  margin: 8px 0;
  padding-top: 16px;
text-align: center;  border-top: 2px solid var(--eerie-black);
}


.social-icons a {
  width: 40px;
  height: 40px;
  background: var(--bamby-orange);
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border: 2px solid var(--eerie-black);
  color: var(--eerie-black);
  font-size: 18px;
}

.social-icons a:hover {
  position: relative;
  top: 2px;
  background: transparent;
  border: 2px solid var(--eerie-black);
  box-shadow: 4px 5px 0 rgba(255, 68, 0, 0.562);
  color: var(--eerie-black);

}




@media (max-width: 480px) {

  *{
    margin: 0;
    padding: 0 2px;
  }
  html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }
.container{
  padding: 0;
  margin: 0;
}
  .nav-top{
    padding: 3px 0;
    height: 24px;
  }
  .nav-top p{
    font-size: 12px;
  }


  #our-benefits .card-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .navbar .logo {
    position: static;
    padding: 0 3px;
    width: 1000px;
    height: 100%;
  }

  .navbar {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    
  }

  .icon-menu{
    display: block;
  }

  .navbar .nav-menu{
    flex-direction: column;
    justify-content: space-evenly;
    background: var(--page-color);
    position: absolute;
    width: 150px;
    height: 40vh;
    border: 2px solid var(--davys-gray);
    box-shadow: 3px 4px 2px var(--davys-gray);
    border-radius: var(--border-radius-md);
    display: none;
    z-index: 10000;
  }

  .nav-menu.active{
    display: flex;
    top: 70%;
    right:-16px;
  }

  .nav-btn-content{
    left: 0px;
  }

  #home{
    background: var(--page-color);
    padding: 1rem 0;
    
  }
  
  #home .home-header{
    display: block;
    text-align: center;
  }
  .home-imge{
    width: 100%;
  }
  
  .additional{
    width: 100%;
    margin: auto;
    line-height: 2.5rem;
    padding: 0 ;
    
  }
  .additional .join{
    color: var(--eerie-black);
    font-size: 14px;
    font-weight: 800;
    text-decoration: underline;
  }
  .additional h1{
    font-size: 24px;
  }
  .additional h1 span{
    font-size: 24px;
    
  }
  .additional p{
    font-size: 13px;
    font-weight: 500;
  }
  .content-count{
    height: auto;
    display: grid;
    grid-template-columns: repeat(1,2fr);
    line-height: 1.5rem;
 }
  .content-count span{
    font-size: 12px;
    font-weight: 600;
  }

  .content-count .count{
    font-size: 20px;
    font-weight: 800;
  }

  .button-container{
    width: 100%;
    align-items: center;
    justify-content: center;

  }

   .btn{
    height: 40px;
    font-size: 14px;
  }

  #our-benefits{
    margin: 0px;
  }
  #our-benefits .card-container{
  
    margin-top: 1rem ;
    grid-template-columns: repeat(1, 1fr);
  
  }
  
  .text-top{
    margin: 16px 50px;
    padding: 8px 0px;
   
  }
  
  #our-benefits .card-container .card .icon{
    bottom: 25px;
    padding: 5px;
  }
  #our-benefits .card-container .card svg{
    font-size: 24px;
    
  }
  
  #our-benefits .card-container .card h2{
    font-size: 16px;
    bottom: 12px;
  }
  
  #our-benefits .card-container .card p{
    font-size: 12px;
   
  }
  
  #our-testimonials{
    margin: 30px 0;
  }
  .slider-container {
    
    padding: 20px 20px;
  }

  .slider-content {
    display: flex;
    gap: 20px;
    overflow: hidden;
    width: 100%;
  }
  
  .slider-card {
    margin: 0;
    padding: 4px;
    width: 100%;
    min-width: 100%;
    line-height: 1.2rem;  
    box-shadow: 2px 1px 0 rgba(255, 68, 0, 0.562);
  }
  .slider-card p{
    font-size: 12px;
    
  }
  
  .card-header img{
    width: 50px;
    height: 50px;
     }
  
  .card-name {
    font-size: 16px;
    
  }
  
  .card-description {
    line-height: 1.2;
    font-size: 14px;
  }
  .rating-content{
    margin: 2px 0;
  }

  .slider-button {
    width: 25px;
    height: 20px;
    font-size: 1.2rem;
    box-shadow: 2px 2px 0 rgba(255, 68, 0, 0.562);
  
  }
  
  .prev {
    margin-right: 1px;
  }
  
  .next {
    margin-left: 1px;
  }
  
  .info{
    line-height: 1.5rem;
  }
  .title-description-testimonials h2{
    font-size: 24px;
    font-weight: 500;
  }
  .title-description-testimonials p{
    font-size: 18px;
    font-weight: 600;
    color: var(--eerie-black);
  }
  .slider-viewport {
    overflow: hidden;
    width: 100%;
  }
  
  
  
  .img-slider-card {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .img-slider {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .info-slider {
    text-align: center;
    margin-top: 10px;
  }

  .section-header h2{
    margin: 10px 0;
    font-size: 24px;
    font-weight: 800;
  
  }
  
  .section-header p{
    font-size: 14px;
    font-weight: 500;
  }

  #cources{
    padding: 0px;
  }
  #cources .cources-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 3rem;
    margin-top: 1rem;
  
  }

  .btn-learn{
    padding: 8px 20px;
   
  }

  .accordion-container{
        margin: 30px;
  }
  
  .item{
    width: 100%;
  
    background: var(--white);
    border: 2px solid var(--eerie-black);
    box-shadow: 4px 5px 0 rgba(255, 68, 0, 0.562);
    border-radius: var(--border-radius-sm);
    margin-bottom: 15px;
    padding: 10px 20px;
  }
  
  .accordion-title{
    font-size: 10px;
  }
  
  .accordion-title span{
    padding: 1px 5px;
    margin: 0 2px;
    font-size: 16px;
   
  }
  
  .accordion-descreption{
    font-size: 12px;
     }
  
  .accordion-show{
    font-size: 12px;
   }

   .pages-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  
  #page{
    margin: 20px 12px;
    height: auto;
    padding: 12px;
    background: var(--white);
    border: 2px solid var(--eerie-black);
    border-radius: var(--border-radius-sm);
    line-height: 2rem;
  }
  
  #page .btn{
    position: relative;
    margin-top: 12px;
  }
  
  #page p{
    margin-top: 12px;
    font-size: 14px;
    font-weight: 600;
  }
  



   .footer {
   padding: 0px;
    margin:10px 0;
    }

  .footer-about {
    flex: 1;
  }

  .footer-about p {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.5;
  }
  
  .contact-item {
   
    margin-bottom: 5px;
    font-size: 12px;
  }
 
  .footer .footer-links{
    display: none;
  }
  
  .contact-item .icon {
    margin:4px 4px ;
   
    font-size: 15px;
  }
  
  .footer-links {
    display: flex;
  }
 
  .footer-bottom {
   
    flex-direction: column;
   
    font-size: 12px;
  }
  .Copyright{
    font-size: 12px;
  }
  .social-icons a {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  
  
  

}

@media (min-width: 768px) and (max-width: 1024px) {

  *{
    margin: 0;
    padding: 0 2px;
  }
  html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }
.container{
  padding: 0;
  margin: 0;
}
  .nav-top{
    padding: 3px 0;
    height: 24px;
  }
  .nav-top p{
    font-size: 12px;
  }

  .navbar .logo {
    position: static;
    padding: 0;
    
  }

  .navbar {
    display: flex;
    margin: 0;
    padding: 0;
    
  }

  .icon-menu{
    display: block;
  }

  .navbar .nav-menu{
    flex-direction: column;
    justify-content: space-evenly;
    background: var(--page-color);
    position: absolute;
    width: 150px;
    height: 40vh;
    border: 2px solid var(--davys-gray);
    box-shadow: 3px 4px 2px var(--davys-gray);
    border-radius: var(--border-radius-md);
    display: none;
    z-index: 10000;
  }

  .nav-menu.active{
    display: flex;
    top: 70%;
    right:-16px;
  }

  .nav-btn-content{
    left: 0px;
  }

  
  #home .home-header{
    display: flex;
  }
  .home-imge{
    width: 100%;
  }
  
  .additional{
    width: 100%;
    margin: auto;
    line-height: 2.5rem;
    padding: 0 ;
    
  }
  .additional .join{
    font-size: 14px;
   
  }
  .additional h1{
    font-size: 24px;
  }
  .additional h1 span{
    font-size: 24px;
    
  }
  .additional p{
    font-size: 13px;
  }
  .content-count{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    line-height: 1.3rem;
 }
  .content-count span{
    font-size: 13px;
    font-weight: 600;
  }

  .content-count .count{
    font-size: 20px;
    font-weight: 800;
    padding: 5px 0;
  }



   .btn{
    height: 40px;
    font-size: 14px;
  }

  
  #our-benefits{
    margin: 0px;
  }
  #our-benefits .card-container{
  
    margin-top: 1rem ;
    grid-template-columns: repeat(3, 1fr);
  
  }
  
  .text-top{
    margin: 16px 250px;
    padding: 8px 0px;
   
  }
  
  #our-benefits .card-container .card .icon{
    bottom: 25px;
    padding: 5px;
  }
  #our-benefits .card-container .card svg{
    font-size: 24px;
    
  }
  
  #our-benefits .card-container .card h2{
    font-size: 16px;
    bottom: 12px;
  }
  
  #our-benefits .card-container .card p{
    font-size: 12px;
   
  }
  
  #our-testimonials{
    margin: 30px 0;
  }
  .slider-container {
    padding: 20px 0px;
  }

  .slider-content {
    display: flex;
    gap: 20px;
    overflow: hidden;
    width: 100%;
  }
  
  .slider-card {
    margin: 0;
    padding: 4px;
    line-height: 1.2rem;  
    box-shadow: 2px 1px 0 rgba(255, 68, 0, 0.562);
  }
  .slider-card p{
    font-size: 12px;
    
  }
  
  .card-header img{
    width: 50px;
    height: 50px;
     }
  
  .card-name {
    font-size: 16px;
    
  }
  
  .card-description {
    line-height: 1.2;
    font-size: 14px;
  }
  .rating-content{
    margin: 2px 0;
  }

  .slider-button {
    width: 25px;
    height: 20px;
    font-size: 1.2rem;
    box-shadow: 2px 2px 0 rgba(255, 68, 0, 0.562);
  
  }
  
  .prev {
    margin-right: 1px;
  }
  
  .next {
    margin-left: 1px;
  }
  
  .info{
    line-height: 1.5rem;
  }
  .title-description-testimonials h2{
    font-size: 24px;
    font-weight: 500;
  }
  .title-description-testimonials p{
    font-size: 18px;
    font-weight: 600;
    color: var(--eerie-black);
  }
  .slider-viewport {
    overflow: hidden;
    width: 100%;
  }
  
  
  
  .img-slider-card {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .img-slider {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .info-slider {
    text-align: center;
    margin-top: 10px;
  }

  .section-header h2{
    margin: 10px 0;
    font-size: 24px;
    font-weight: 800;
  
  }
  
  .section-header p{
    font-size: 14px;
    font-weight: 500;
  }

  #cources{
    padding: 0px;
  }
  #cources .cources-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    margin-top: 1rem;
  
  }

  #cources .cources-container .cource .content-cource .cource-field .department{
    font-weight: 800;
    font-size: 14px;
    text-align: start;
  }

  .btn-learn{
    padding: 8px 20px;
   
  }

  .accordion-container{
        display: block;
        margin: auto;
       width: 100%;
 }
  
  .item{
    width: 100%;
    background: var(--white);
    border: 2px solid var(--eerie-black);
    box-shadow: 4px 5px 0 rgba(255, 68, 0, 0.562);
    border-radius: var(--border-radius-sm);
    margin-bottom: 15px;
    padding: 10px 20px;
  }
  
  .accordion-title{
    font-size: 10px;
  }
  
  .accordion-title span{
    padding: 1px 5px;
    margin: 0 2px;
    font-size: 16px;
   
  }
  
  .accordion-descreption{
    font-size: 12px;
     }
  
  .accordion-show{
    font-size: 12px;
   }
   .footer {
   padding: 0px;
    margin:10px 0;
    }

  .footer-about {
    flex: 1;
  }

  .footer-about p {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.5;
  }
  
  .contact-item {
    margin-bottom: 5px;
    font-size: 12px;
  }
 
  .footer .footer-links{
    font-size: 12px;
    margin-top: 12px;
  }
  
  .contact-item .icon {
    margin:4px 4px ;
   
    font-size: 15px;
  }
  
  .footer-links {
    display: flex;
  }
 
  .footer-bottom {
   
    flex-direction: column;
   
    font-size: 12px;
  }
  .Copyright{
    font-size: 12px;
  }
  .social-icons a {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  
  
  

}






















